:root {
  --clr-primary: rgb(105, 105, 105);
  --clr-primaryLight: rgba(196, 196, 196);
  --clr-secondary: rgba(239, 239, 239);
  --clr-tertiary: rgba(255, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
}

html {
  position: relative;
}
